# Finding Similar Movies

We'll start by loading up the [MovieLens dataset](https://movielens.org). Using Pandas, we can very quickly load the rows of the u.data and u.item files that we care about, and merge them together so we can work with movie names instead of ID's. (In a real production job, we'd stick with ID's and worry about the names at the display layer to make things more efficient. But this lets us understand what's going on better for now.)

<img src="images/dog.jpg" height="250" width="250">

In [1]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

In [4]:
print(ratings.shape)
ratings.head(n=10)

(100003, 4)

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3
5         1  Toy Story (1995)        5       4
6         1  Toy Story (1995)      109       4
7         1  Toy Story (1995)      181       3
8         1  Toy Story (1995)       95       5
9         1  Toy Story (1995)      268       3

In [5]:
ratings.title.value_counts().head()

Star Wars (1977)                                             584
Contact (1997)                                               509
Fargo (1996)                                                 508
Return of the Jedi (1983)                                    507
Liar Liar (1997)                                             485
English Patient, The (1996)                                  481
Scream (1996)                                                478
Toy Story (1995)                                             452
Air Force One (1997)                                         431
Independence Day (ID4) (1996)                                429
Raiders of the Lost Ark (1981)                               420
Godfather, The (1972)                                        413
Pulp Fiction (1994)                                          394
Twelve Monkeys (1995)                                        392
Silence of the Lambs, The (1991)                             390
Jerry Maguire (1996)                                         384
Chasing Amy (1997)                                           379
Rock, The (1996)                                             378
Empire Strikes Back, The (1980)                              368
Star Trek: First Contact (1996)                              365
Titanic (1997)                                               350
Back to the Future (1985)                                    350
Mission: Impossible (1996)                                   344
Fugitive, The (1993)                                         336
Indiana Jones and the Last Crusade (1989)                    331
Willy Wonka and the Chocolate Factory (1971)                 326
Princess Bride, The (1987)                                   324
Forrest Gump (1994)                                          321
Saint, The (1997)                                            316
Monty Python and the Holy Grail (1974)                       316
                                                            ...
Wife, The (1995)                                               1
Mad Dog Time (1996)                                            1
Butterfly Kiss (1995)                                          1
Modern Affair, A (1995)                                        1
I, Worst of All (Yo, la peor de todas) (1990)                  1
Eighth Day, The (1996)                                         1
Damsel in Distress, A (1937)                                   1
New Age, The (1994)                                            1
Shopping (1994)                                                1
Raw Deal (1948)                                                1
Girls Town (1996)                                              1
Jupiter's Wife (1994)                                          1
I Don't Want to Talk About It (De eso no se habla) (1993)      1
Further Gesture, A (1996)                                      1
Nemesis 2: Nebula (1995)                                       1
Death in the Garden (Mort en ce jardin, La) (1956)             1
Eye of Vichy, The (Oeil de Vichy, L') (1993)                   1
Desert Winds (1995)                                            1
Love Is All There Is (1996)                                    1
Window to Paris (1994)                                         1
Stefano Quantestorie (1993)                                    1
Favor, The (1994)                                              1
Etz Hadomim Tafus (Under the Domin Tree) (1994)                1
Yankee Zulu (1994)                                             1
Liebelei (1933)                                                1
Very Natural Thing, A (1974)                                   1
Three Lives and Only One Death (1996)                          1
Baton Rouge (1988)                                             1
King of New York (1990)                                        1
Big One, The (1997)                                            1
Name: title, Length: 1664, dtype: int64

Now the amazing pivot_table function on a DataFrame will construct a user / movie rating matrix. Note how `NaN` indicates missing data - movies that specific users didn't rate.

In [3]:
movieRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
movieRatings.head(n=10)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
6,NaN,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,4.0,NaN,NaN,5.0,5.0,NaN,4.0,...,NaN,NaN,NaN,5.0,3.0,NaN,3.0,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's extract a Series of users who rated Star Wars:

In [ ]:
starWarsRatings = movieRatings['Star Wars (1977)']
starWarsRatings.head()

Pandas' corrwith function makes it really easy to compute the pairwise correlation of Star Wars' vector of user rating with every other movie! After that, we'll drop any results that have no data, and construct a new DataFrame of movies and their correlation score (similarity) to Star Wars:

In [ ]:
similarMovies = movieRatings.corrwith(starWarsRatings)
similarMovies = similarMovies.dropna()
df = pd.DataFrame(similarMovies)
df.head(10)

(That warning is safe to ignore.) Let's sort the results by similarity score, and we should have the movies most similar to Star Wars! Except... we don't. These results make no sense at all! This is why it's important to know your data - clearly we missed something important.

In [ ]:
similarMovies.sort_values(ascending=False).head(n=50)

Our results are probably getting messed up by movies that have only been viewed by a handful of people who also happened to like Star Wars. So we need to get rid of movies that were only watched by a few people that are producing spurious results. Let's construct a new DataFrame that counts up how many ratings exist for each movie, and also the average rating while we're at it - that could also come in handy later.

In [ ]:
import numpy as np
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

Let's get rid of any movies rated by fewer than 100 people, and check the top-rated ones that are left:

In [ ]:
popularMovies = movieStats['rating']['size'] >= 100
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False).head()

100 might still be too low, but these results look pretty good as far as "well rated movies that people have heard of." Let's join this data with our original set of similar movies to Star Wars:

In [ ]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

In [ ]:
df.head()

And, sort these new results by similarity score. That's more like it!

In [ ]:
df.sort_values(['similarity'], ascending=False)[:15]

Ideally we'd also filter out the movie we started from - of course Star Wars is 100% similar to itself. But otherwise these results aren't bad.

## Activity

100 was an arbitrarily chosen cutoff. Try different values - what effect does it have on the end results?